.main {
  margin-top: 200px
}

.location{
  color: white;
  font-size: 36px;
  display: flex;
  justify-content: center;
}

.temp{
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.weather {
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100px;
  width: 100px
}

.btn {
  background: none;
  border: none;
  font-size: 20px;
  color: #069;
  cursor: pointer;
}
