.main {
  color: white;
  height: 800px;
  margin-left: 20px;
  margin-right: 20px
}

.location{
  font-size: 36px;
  display: flex;
  justify-content: center;
}

.temp{
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.weather {
  font-size: 24px;
  display: flex;
  justify-content: center;
}
